<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://unpkg.com/vue@next"></script>

</head>
<body >
  <div id="app">
    <div class="container card">
      <h3 v-if="showState" class="text-danger">Gizlenen başlık</h3>
      <h3 v-else class="text-success">gösterilecek başlık</h3>
      {{ showState }}
      <button @click="showState = !showState">Göster/Gizle</button>
      <!-- ! click olduğunda değeri tersine dönecektir -->
    </div>

    <div class="container card">
      <!-- !buda v-if in alternatifi diyebiliriz ancak v-show un else if yi yoktur ve aslında html üzerinden kaybolmaz yanlızca display özelliği ile oynayarak işlem yapar  ancak v if dom üzerinden siler-->
      <h3 v-show="showState" class="text-danger">Gizlenen başlık</h3>
      <h3 v-show="!showState" class="text-success">gösterilecek başlık</h3>
      {{ showState }}
      <button @click="showState = !showState">Göster/Gizle</button>
      <!-- ! click olduğunda değeri tersine dönecektir -->
    </div>
    <div class="container card">
      <!-- ! bu şekil kullanımda bütün elamanların aynı seviyede olması gerekmektedir yoksa çalışmayacaktır -->
      <h3 v-if="counter<0" class="text-danger">Negatif</h3>
      <h3 v-else-if="counter>0" class="text-success">Pozitif</h3>
      <h3 v-else class="text-primary">Nötr</h3>

      {{ counter }}
      <button @click="counter++">Artır</button>
      <button @click="counter--">Azalt</button>

    </div>
</div>
<script src="app.js"></script>

</body>
</html>